<div class="full-page">
    <button class="fp__close">Закрыть</button>

    <div class="fp-content clearfix"><div class="fp-content--float">
        <div class="fp-field fp-field-username">
            <label class="fp-field__label" for="username">Логин</label>
            <input value="<%= username %>" type="text" class="fp-field__input" id="username" autofocus>
            <span class="fp-field__error"></span>
        </div>

        <div class="fp-field fp-field-email">
            <label class="fp-field__label" for="email">Эл. почта</label>
            <input value="<%= email %>" type="email" class="fp-field__input" id="email">
            <span class="fp-field__error"></span>
        </div>

        <div class="fp-field fp-field-team">
            <label class="fp-field__label">Команда</label>
        </div>

        <div class="fp-field fp-field-firstName">
            <label class="fp-field__label" for="firstName">Имя</label>
            <input value="<%= firstName %>" type="text" class="fp-field__input" id="firstName">
            <span class="fp-field__error"></span>
        </div>

        <div class="fp-field fp-field-lastName">
            <label class="fp-field__label" for="lastName">Фамилия</label>
            <input value="<%= lastName %>" type="text" class="fp-field__input" id="lastName">
            <span class="fp-field__error"></span>
        </div>

        <div class="fp-field fp-field-middleName">
            <label class="fp-field__label" for="middleName">Отчество</label>
            <input value="<%= middleName %>" type="text" class="fp-field__input" id="middleName">
            <span class="fp-field__error"></span>
        </div>

        <div class="fp-field fp-field-telephone">
            <label class="fp-field__label" for="telephone">Номер телефона</label>
            <input value="<%= telephone %>" type="tel" class="fp-field__input" id="telephone" value="+7 ">
            <span class="fp-field__error"></span>
        </div>

        <div class="clearfix"></div>

        <div class="fp-field fp-field-status">
            <% if (status.status === 1) { %>
                <input value="0" type="radio" name="status" class="fp-field__radio" id="fp-field-status__absent-input">
                <label class="fp-field__label fp-field-status__absent-label" for="fp-field-status__absent-input">Не пришел</label>
                <input value="1" type="radio" name="status" class="fp-field__radio" id="fp-field-status__present-input">
                <label class="fp-field__label fp-field-status__present-label" for="fp-field-status__present-input" checked>Пришел</label>
                <input value="2" type="radio" name="status" class="fp-field__radio" id="fp-field-status__left-input">
                <label class="fp-field__label fp-field-status__left-label" for="fp-field-status__left-input">Вышел</label>
            <% } else if (status.status === 2) { %>
                <input value="0" type="radio" name="status" class="fp-field__radio" id="fp-field-status__absent-input">
                <label class="fp-field__label fp-field-status__absent-label" for="fp-field-status__absent-input">Не пришел</label>
                <input value="1" type="radio" name="status" class="fp-field__radio" id="fp-field-status__present-input">
                <label class="fp-field__label fp-field-status__present-label" for="fp-field-status__present-input">Пришел</label>
                <input value="2" type="radio" name="status" class="fp-field__radio" id="fp-field-status__left-input">
                <label class="fp-field__label fp-field-status__left-label" for="fp-field-status__left-input" checked>Вышел</label>
            <% } else { %>
                <input value="0" type="radio" name="status" class="fp-field__radio" id="fp-field-status__absent-input" checked>
                <label class="fp-field__label fp-field-status__absent-label" for="fp-field-status__absent-input">Не пришел</label>
                <input value="1" type="radio" name="status" class="fp-field__radio" id="fp-field-status__present-input">
                <label class="fp-field__label fp-field-status__present-label" for="fp-field-status__present-input">Пришел</label>
                <input value="2" type="radio" name="status" class="fp-field__radio" id="fp-field-status__left-input">
                <label class="fp-field__label fp-field-status__left-label" for="fp-field-status__left-input">Вышел</label>
            <% } %>
        </div>

        <div class="clearfix"></div>

        <div class="fp-field fp-field-isStaff">
            <label class="fp-field__label--checkbox" for="isStaff">
                <% if (isStaff === true) { %>
                    <input type='checkbox' class="fp-field__input--checkbox" id="isStaff" checked>
                <% } else if (isStaff === false) { %>
                    <input type='checkbox' class="fp-field__input--checkbox" id="isStaff">
                <% } %>
                Организатор
            </label>
        </div>

        <div class="fp-field fp-field-button">
            <button class="fp-field__button">Сохранить</button>
            <span class="fp-field__error"></span>
        </div>
    </div></div>
</div>